:root {
  --color-gray-100: #1e1e1e;
  --color-white: #e6e6e6;
  --color-blue: #5030e514;
  --color-gray-800: #dbdbdb;
  --color-black: #191919;
  --color-gray-700: #bdbdbd;
  --color-blue-1: #1d52f3;
  --color-gray-300: #4f4f4f;
  --color-red: #f62020;
  --color-color-2: #f7fafa;
  --color-color-3: #f8f9fb;
  --color-color-4: #f7fbfc;
  --color-color-5: #f5f9f9;
  --color-color-6: #fafbfc;
  --color-color-7: #faf9fb;
  --color-color-8: #fcfbfc;
  --color-gray-9: #b6b6b6;
  --color-gray-500: #828282;
  --color-color-10: #787486;
  --color-blue-11: #0d062d;
  --color-gray-200: #333333;
  --color-color-12: #f1effd;
  --color-gray-13: #868686;
  --color-red-14: #f28402;
  --color-gray-15: #d1d1d1;
  --color-blue-16: #2f80ed;
  --color-red-17: #eb5757;
  --color-gray-18: #e0e0e0;
  --color-blue-19: #0d062d7f;
  --color-red-20: #e30303;
  --color-color-21: #e7e3ff;
  --color-blue-22: #0d062de5;
  --color-blue-23: #9747ff;
  --color-green: #219653;
  --font-heading-family: Poppins;
  --font-heading-size: 25px;
  --font-heading-weight: 400;
  --font-caption-family: Inter;
  --font-caption-size: 6px;
  --font-caption-weight: 400;
  --font-caption-1-family: Inter;
  --font-caption-1-size: 6px;
  --font-caption-1-weight: 500;
  --font-caption-2-family: Inter;
  --font-caption-2-size: 6px;
  --font-caption-2-weight: 400;
  --font-caption-3-family: Poppins;
  --font-caption-3-size: 5px;
  --font-caption-3-weight: 700;
  --font-caption-4-family: Inter;
  --font-caption-4-size: 7px;
  --font-caption-4-weight: 400;
  --font-caption-5-family: Poppins;
  --font-caption-5-size: 6px;
  --font-caption-5-weight: 700;
  --font-heading-6-family: Poppins;
  --font-heading-6-size: 30px;
  --font-heading-6-weight: 400;
  --font-caption-7-family: Inter;
  --font-caption-7-size: 7px;
  --font-caption-7-weight: 400;
  --font-caption-8-family: Inter;
  --font-caption-8-size: 8px;
  --font-caption-8-weight: 500;
  --font-caption-9-family: Inter;
  --font-caption-9-size: 7px;
  --font-caption-9-weight: 500;
  --font-caption-10-family: Poppins;
  --font-caption-10-size: 5px;
  --font-caption-10-weight: 700;
  --font-title-family: Poppins;
  --font-title-size: 23px;
  --font-title-weight: 400;
  --font-caption-11-family: Inter;
  --font-caption-11-size: 7px;
  --font-caption-11-weight: 400;
  --font-caption-12-family: Poppins;
  --font-caption-12-size: 5px;
  --font-caption-12-weight: 700;
  --font-heading-13-family: Poppins;
  --font-heading-13-size: 27px;
  --font-heading-13-weight: 400;
  --font-caption-14-family: Inter;
  --font-caption-14-size: 6px;
  --font-caption-14-weight: 400;
  --font-caption-15-family: Inter;
  --font-caption-15-size: 7px;
  --font-caption-15-weight: 500;
  --font-caption-16-family: Inter;
  --font-caption-16-size: 6px;
  --font-caption-16-weight: 500;
  --font-caption-17-family: Inter;
  --font-caption-17-size: 6px;
  --font-caption-17-weight: 400;
  --font-caption-18-family: Poppins;
  --font-caption-18-size: 5px;
  --font-caption-18-weight: 700;
  --font-caption-19-family: Inter;
  --font-caption-19-size: 6px;
  --font-caption-19-weight: 400;
  --font-caption-20-family: Inter;
  --font-caption-20-size: 6px;
  --font-caption-20-weight: 500;
  --font-caption-21-family: Inter;
  --font-caption-21-size: 6px;
  --font-caption-21-weight: 400;
  --font-caption-22-family: Poppins;
  --font-caption-22-size: 4px;
  --font-caption-22-weight: 700;
  --font-label-family: Inter;
  --font-label-size: 14px;
  --font-label-weight: 400;
  --font-body-family: Inter;
  --font-body-size: 16px;
  --font-body-weight: 400;
  --font-body-23-family: Inter;
  --font-body-23-size: 16px;
  --font-body-23-weight: 500;
  --font-label-24-family: Inter;
  --font-label-24-size: 14px;
  --font-label-24-weight: 500;
  --font-caption-25-family: Inter;
  --font-caption-25-size: 10px;
  --font-caption-25-weight: 500;
  --font-heading-26-family: Inter;
  --font-heading-26-size: 25px;
  --font-heading-26-weight: 600;
  --font-caption-27-family: Inter;
  --font-caption-27-size: 11px;
  --font-caption-27-weight: 500;
  --font-caption-28-family: Inter;
  --font-caption-28-size: 11px;
  --font-caption-28-weight: 500;
  --font-caption-29-family: Inter;
  --font-caption-29-size: 7px;
  --font-caption-29-weight: 500;
  --font-caption-30-family: Poppins;
  --font-caption-30-size: 11px;
  --font-caption-30-weight: 700;
  --font-caption-31-family: Poppins;
  --font-caption-31-size: 12px;
  --font-caption-31-weight: 500;
  --font-caption-32-family: Poppins;
  --font-caption-32-size: 12px;
  --font-caption-32-weight: 400;
  --font-heading-33-family: Inter;
  --font-heading-33-size: 30px;
  --font-heading-33-weight: 600;
  --font-caption-34-family: Inter;
  --font-caption-34-size: 12px;
  --font-caption-34-weight: 500;
  --font-label-35-family: Inter;
  --font-label-35-size: 14px;
  --font-label-35-weight: 600;
  --font-caption-36-family: Inter;
  --font-caption-36-size: 10px;
  --font-caption-36-weight: 400;
  --font-caption-37-family: Inter;
  --font-caption-37-size: 12px;
  --font-caption-37-weight: 400;
  --font-body-38-family: Inter;
  --font-body-38-size: 18px;
  --font-body-38-weight: 500;
}